# Logs
logs
*.log
npm-debug.log*
npm i --save-dev vite @vitejs/plugin-react vite-plugin-html
yarn-debug.log*
yarn-error.log*
yarn add vite @vitejs/plugin-react vite-plugin-html --dev
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
