* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  max-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 64px);
}

.page-header {
  height: 64px;
  background-color: #8bc34a;
  color: #1f1f1f;
  font-size: 1.3rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 2px solid #618833;
}
